
*{
  padding:0px;
  margin: 5px
}
.main-component{
  /* border: 1px solid red; */
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;

}
.heading{
  /* border: 1px solid black; */
  padding: 30px;
  font-family:sans-serif;
}
.main-segment{
  /* border: 3px solid blueviolet; */
  width: 90%;
  text-align: center;
  height: 75%;
}
.gap{
  margin: 25px;
}
.card{
  display:flex;
  flex-direction: column;
  align-content: space-between;
  gap:2rem;
  border:3px solid greenyellow;
  width: 300px;
  height: 300px;
  margin:80px;
}

.card-container{
  display:grid;
  gap:1rem;
  grid-template-columns: repeat(auto-fit,minmax(340px,1fr));
}
.button{
  margin-left: 25%;
}

.text-field{
  width: 100%;
  margin: 0 auto;
}
.nav-bar{
  width: 100%;
  padding: 17px;
  margin-left: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}